<div class="collection">
  {% set options = {
    collection: {
      id: node.uuid.value,
      title: node.label,
      body: node.body.value,
    },
    user: {
      authenticated: user.authenticated,
      id: user.id,
      displayName: user.displayName,
    },
    collection_id: node.uuid.value,
    djokes_data_url: path('jsonapi.djoke.collection', {filter: {'collection.id': node.uuid.value}, page: {limit: 100}}),
    total_number_of_items: 500,
    } %}

  {% if not user.authenticated %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      {{ content.message_anonymous }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ 'Close'|trans }}"></button>
    </div>
  {% else %}
    {% if not has_license %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ content.message_unlicensed }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ 'Close'|trans }}"></button>
      </div>
    {% endif %}
  {% endif %}

  <div id="app" data-options="{{ options|json_encode }}">{{ head_title|safe_join(' | ') }}</div>
</div>
